<link rel="stylesheet" type="text/css" href="css/questions.css" />

<div class="container">
    <div class="header">
        <div class="links">
            <a href="/questions" class="link1">Questions</a>
            <a class="link2">Themes</a>
            <a href="/users" class="link3">Users</a>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout" type="submit">Log Out</button>
            </form>
            
        </div>
    </div>

    <div class="sort">
        <a>Sort by themes:</a>
         <br>
         <% for ( let theme of themes ) { %>
        <form action="/questions/theme/<%=theme.theme_id%>" method="GET">
            <input type="radio" id='<%= theme.theme_name %>'
            value='<%= theme.theme_id %>' name="checkboxes" >
            <label for='<%= theme.theme_name %>'><%= theme.theme_name %></label><br>
            <% } %>
            <!-- <button class="buttoncito" type="submit">Filter</button> -->
        </form>
        <form action="questions/create">
            <button class="buttonSubmit" type="submit">Create question</button>
        </form>
        
    </div>

    <div class="content">
        <% for ( let question of questions ) { %>
            <% var i=0; %>
            <div class="card">
                <div class="test">
                    <h4><%= question.question_content %></h4>
                    <% for ( let answer of answers ) { %>
                        <% if (answer.question_id_fk == question.question_id) { %>
                            <% i++ %>
                            <p><%= i %> - <%= answer.answer_content %></p>
                        <% } %>
                    <% } %>
                    <div class="crudElements">
                        <form method="GET" action="/questions/edit/<%=question.question_id%>">
                            <button id='<%= question.question_id %>' class="edit">Edit</button>
                        </form>
                        <form method="POST" action="/questions/<%= question.question_id %>?_method=DELETE">
                            <button type="submit" class="delete">Delete</button>
                        </form> 
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

