<link rel="stylesheet" type="text/css" href="css/register.css" />
<div class="register">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <label for="name" class="name">Name</label>
        <input type="text" id="name" name="name" 
        placeholder="Your name..." required>

        <label for="email" class="name">Email</label>
        <input type="text" id="email" name="email" 
        placeholder="Your email..." required>
    
        <label for="password">Password</label>
        <input type="password" id="password" 
        name="password" placeholder="Your password.." 
        required>

        <label for="repeatPassword">Repeat password</label>
        <input type="password" id="repeatPassword" 
        name="repeatPassword" 
        placeholder="Repeat password.." required>

        <div class="selects">
          <div class="roles">
            <label for="role_id_fk">Role</label>
            <select name="role_id_fk" id="role_id_fk">
              <% for ( let role of roles ) { %>
              <option value="<%=role.role_id %>"><%=role.role_name %></option>
              <% } %>
            </select>
          </div>

          <div class="classroom">
            <label for="classroom_id_fk">Classroom</label>
            <select name="classroom_id_fk" id="classroom_id_fk">
              <% for ( let classroom of classrooms ) { %>
              <option value="<%=classroom.classroom_id %>"><%=classroom.classroom_name %></option>
              <% } %>
            </select>
          </div>
        </div>
        <br>
        <br>
        <% if (messages.error) { %>
            <p style="color:#FF0000">*<%= messages.error %></p>
            <% } %>
      <div class="buttons">
        <input class="registerButton" type="submit" value="Submit">

    </form>


        <a href="/users">
          <input class="backButton" type="button" value="Back" />
        </a>
    </div>

</div>